@page
@model Health_up.Pages.doctor.report.viewModel
@{
    ViewData["Title"] = "View Reports";
}
<h2>View Reports</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Elderly NRIC</th>
            <th scope="col">Report Date</th>
            <th scope="col">Symptoms</th>
            <th scope="col">Immunities</th>
            <th scope="col">Medicines</th>
            <th scope="col">Medicine Cost</th>
            <th scope="col">Notes</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.reports != null)
        {
            @foreach (var report in Model.reports)
            {
        <tr>
            <td>@report.Elderly_ID</td>
            <td>@report.Report_date</td>
            <td>@report.Symptoms</td>
            <td>@report.Immunities</td>
            <td>@report.Medicines</td>
            <td>$@report.Medicine_Cost</td>
            <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#@report.Elderly_ID@report.Signature@report.Medicine_Cost">Notes</button>
                <div class="modal fade" id="@report.Elderly_ID@report.Signature@report.Medicine_Cost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Additional Notes</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        &times;
                                    </span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table>
                                    <tr>
                                        <td>@report.Note</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
            <td><a class="btn btn-primary" asp-page="/doctor/report/update" asp-route-id="@report.Report_id">Update</a></td>
        </tr>
            }
        }
    </tbody>
</table>