@page
@model Health_up.Pages.doctor.indexModel
@{
}
@using Microsoft.AspNetCore.Http;
<h2>Upcoming Appointments</h2>
<table class="table table-hover mt-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ if (Model.appointmentByEmail != null)
            {
                @foreach (var item in Model.appointmentByEmail)
                {
                    @foreach (var people in Model.userInfo)
                    {
                        @if (item.ElderlyId == people.Email)
                        {
                            <tr>
                                <td>@people.Fname @people.Lname</td>
                                <td>@item.AvailableDate.ToShortDateString()</td>
                                <td>@item.AvailableTimeslot</td>
                                <td>@people.Phone</td>
                                <td>
                                    <button type="button" id="myArrBtn" class="btn btn-success" onclick="myArr()">Arrival</button>
                                    <button type="button" class="btn btn-primary" onclick="myDetail()">View More</button>
                                </td>
                            </tr>
                            <tr id="detail" style="display:none;">
                                <td>
                                    <h6 class="mt-2">Email:</h6>
                                    <p class="mb-3">@people.Email</p>
                                    <h6 class="mt-2">Gender:</h6>
                                    <p class="mb-3">@people.Gender</p>
                                    <h6>Symptoms:</h6>
                                    <p class="mb-3">@item.Symptoms</p>
                                    <h6>Location:</h6>
                                    <iframe width="600"
                                            height="450"
                                            style="border:0"
                                            loading="lazy"
                                            allowfullscreen
                                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDVgl9LUoEg-1sgLTQO_6plCheXeWAmFKg&q=@people.PostalCode">
                                    </iframe>
                                    <form runat="server" method="post">
                                        <button type="submit" id="myReportBtn" class="btn btn-primary mt-3" style="display:none;">Create Report</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                }
            }
        }
    </tbody>
</table>

<script>
    function myDetail() {
        var x = document.getElementById("detail");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function myArr() {
        document.getElementById("myArrBtn").className = "btn btn-secondary";
        document.getElementById("myArrBtn").innerHTML = "Arrived";
        document.getElementById("myArrBtn").disabled = true;
        document.getElementById("myReportBtn").style.display = "block";
    }
</script>
