@page
@model Health_up.Pages.elderly.EditProfileModel
@{
}
<style>

    body {
        margin-top: 20px;
    }

    .avatar {
        width: 200px;
        height: 200px;
    }
</style>
<div class="container bootstrap snippets bootdey">
    <h1 class="text-primary">Edit Profile</h1>
    <hr>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img src="~/Photos/@Model.MyUser.Photo" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>
                <input type="file" required value="@Model.MyUser.Photo" asp-for="MyUser.Photo" class="form-control">
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">

            <h3>Personal info</h3>

            <form method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" readonly asp-for="MyUser.Email" value="@Model.MyUser.Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" required type="text" asp-for="MyUser.Fname" value="@Model.MyUser.Fname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" required type="text" asp-for="MyUser.Lname" value="@Model.MyUser.Lname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Phone:</label>
                    <div class="col-lg-8">
                        <input class="form-control" asp-for="MyUser.Phone" required type="number" value="@Model.MyUser.Phone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Postal Code:</label>
                    <div class="col-lg-8">
                        <input class="form-control" asp-for="MyUser.PostalCode" required type="number" value="@Model.MyUser.PostalCode">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Address & Unit Number:</label>
                    <div class="col-lg-8">
                        <input class="form-control" asp-for="MyUser.UnitNumber" required type="number" value="@Model.MyUser.UnitNumber">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary ">Save</button>
            </form>
        </div>
    </div>
</div>
<hr>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}