@page
@model HealthUP.Pages.elderly.booking.CreateModel

@{
    ViewData["Title"] = "Book an Activity";

}
<h1>Book an activity</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div> <label class="text-danger">@Model.MyMessage</label> </div>
    <label>@Model.activitydetails.Activity_name</label>


    <div class="form-group">
        <input type="hidden" asp-for="MyBooking.activity_id" class="form-control" value="@Model.activitydetails.Id" />
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Location</label>
        <input readonly asp-for="MyBooking.Location" class="form-control" value="@Model.activitydetails.location" />
        <span asp-validation-for="MyBooking.Location" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Available Date:</label>
        <input asp-for="MyBooking.Date" class="form-control" value="" placeholder="Available Date *" />
        <span asp-validation-for="MyBooking.Date" class="text-danger"></span>
    </div>



    <div>
        <label class="col-sm-2 col-form-label">Available Timeslot:</label>
        <input readonly asp-for="MyBooking.TimeSlot" class="form-control" value="@Model.activitydetails.Activity_timeslot" />
        <span asp-validation-for="MyBooking.TimeSlot" class="text-danger"></span>
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Choose a Payment Method:</label>
        <select asp-for="MyBooking.PaymentMethod" class="form-control">
            <option class="hidden" selected disabled>--Select your payment method--</option>
            <option value="Credit Card">Credit Card</option>
            <option value="PayPal">PayPal</option>
            <option value="No rush, I will pay when I can">No rush, I will pay when I can</option>
        </select>
        <span asp-validation-for="MyBooking.PaymentMethod" class="text-danger"></span>
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Price</label>
        <input readonly asp-for="MyBooking.ActivityPrice" class="form-control" value="@Model.activitydetails.Activity_price" />
        <span asp-validation-for="MyBooking.ActivityPrice" class="text-danger"></span>
    </div>
    <div class="col-sm-10">
        <input id="create" type="submit" value="Pay with PayPal" class="btn btn-primary" />
    </div>

</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
