@page
@model HealthUP.Pages.elderly.booking.RetrieveModel
@{
    ViewData["Title"] = "Retrieve";

}
<h1>Upcoming Bookings</h1>
<br />

<table class="table">
    <thead>
        <tr>
            
            <th>Date</th>
            <th>Timeslot</th>
            <th>Location</th>
            <th>Payment Method</th>
            <th>Activity Price($)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ if (Model.allbookings != null)
            {
                @foreach (var item in Model.allbookings)
                {


                    <tr>
                        
                        <td>@item.Date.ToShortDateString()</td>
                        <td>@item.TimeSlot</td>
                        <td>@item.Location</td>
                        <td>@item.PaymentMethod</td>
                        <td>@item.ActivityPrice</td>
                        <td>
                            <a class="btn btn-primary" asp-page="/elderly/booking/Edit" asp-route-id="@item.Id">Reschedule</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" onclick="return confirm('Are you sure you want to cancel your booking? No refund will be made.');" asp-page="/elderly/booking/Delete" asp-route-id="@item.Id">Cancel</a>
                        </td>
                    </tr>
                }
            }

        }
    </tbody>
</table>






