@page
@model Health_up.Pages.elderly.appointment.DetailsModel
@{
    ViewData["Title"] = "Appointment Details";
    var photoPath = "~/images/" + (Model.MyAppointment.PhotoPath ?? "googleMaps.png");

}
<style>
    .btn{
        width: 116px;
    }
</style>
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.MyAppointment.AvailableDate.ToShortDateString()</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" asp-append-version="true"/>
                <h4>Symptoms : @Model.MyAppointment.Symptoms</h4>
                <h4>Timeslot : @Model.MyAppointment.AvailableTimeslot</h4>
                <h4>Payment Method : @Model.MyAppointment.PaymentMethod</h4>
                <h4>Consultation Fee : @Model.MyAppointment.ConsultationFee</h4>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-primary m-1" asp-page="/elderly/appointment/Retrieve">Back</a>
                <a class="btn btn-primary m-1" asp-page="/elderly/appointment/Edit" asp-route-id="@Model.MyAppointment.Id">Reschedule</a>
                <a class="btn btn-danger m-1" onclick="return confirm('Are you sure you want to cancel your appointment? No refund will be made if you paid by PayPal.');" asp-page="/elderly/appointment/Delete" asp-route-id="@Model.MyAppointment.Id">Cancel</a>

            </div>
        </div>
    </div>
</div>







