@page
@model HealthUP.Pages.elderly.appointment.EditModel
@{
    ViewData["Title"] = "Edit";
}
@using Microsoft.AspNetCore.Http;

<div class="col-md-6 offset-md-3 mt-5">

    <h1>Edit your appointment</h1>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div> <label class="text-danger">@Model.MyMessage</label> </div>

        <div>
            <input type="hidden" asp-for="MyAppointment.Id" class="form-control" value="@Model.MyAppointment.Id" />
        </div>


        <div class="form-group">
            <label>Do you need to change your symptoms?</label>
            <input asp-for="MyAppointment.Symptoms" class="form-control" value="@Model.MyAppointment.Symptoms" placeholder="Stomach Pain, Back Pain" />
            <span asp-validation-for="MyAppointment.Symptoms" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Reschedule your appointment date:</label>
            <input asp-for="MyAppointment.AvailableDate" class="form-control" value="@Model.MyAppointment.AvailableDate.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="MyAppointment.AvailableDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Reschedule your timeslot:</label>
            <select name="MyAppointment.AvailableTimeslot" class="form-control">
                <option value="@Model.MyAppointment.AvailableTimeslot">@Model.MyAppointment.AvailableTimeslot</option>
                <option value="12:00 - 12:30">12:00 - 12:30</option>
                <option value="12:30 - 13:00">12:30 - 13:00</option>
                <option value="13:00 - 13:30">13:00 - 13:30</option>
                <option value="13:30 - 14:00">13:30 - 14:00</option>
                <option value="14:00 - 14:30">14:00 - 14:30</option>
                <option value="14:30 - 15:00">14:30 - 15:00</option>
                <option value="15:00 - 15:30">15:00 - 15:30</option>
            </select>
            <span asp-validation-for="MyAppointment.AvailableTimeslot" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Do you need to change your payment method?</label>
            <select name="MyAppointment.PaymentMethod" class="form-control">
                <option value="@Model.MyAppointment.PaymentMethod">@Model.MyAppointment.PaymentMethod</option>
                <option value="Cash">Cash</option>
                <option value="PayPal">PayPal</option>
                <option value="No rush, I will pay when I can">No rush, I will pay when I can</option>
            </select>
            <span asp-validation-for="MyAppointment.PaymentMethod" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Consultation Fee:</label>
            <input readonly asp-for="MyAppointment.ConsultationFee" class="form-control" value="30" />
            <span asp-validation-for="MyAppointment.ConsultationFee" class="text-danger"></span>
        </div>
        @{ if (HttpContext.Session.GetString("Email") != null)
            {
                <input type="hidden" asp-for="MyAppointment.ElderlyId" class="form-control" value="@(HttpContext.Session.GetString("Email"))" />
            }
        }

        @*<input type="hidden" asp-for="MyAppointment.DoctorId" class="form-control" value="@Model.MyUser.Email" />*@


        <input id="edit" type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-primary" asp-page="/elderly/appointment/Retrieve">Cancel</a>

        <br />
        <br />
        <br />
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
