@page
@model HealthUP.Pages.elderly.appointment.RetrieveModel
@{
    ViewData["Title"] = "Retrieve";
}
@using Microsoft.AspNetCore.Http;
<style>
    .btn {
        width: 116px;
    }
</style>
<h1>Upcoming Appointments</h1>
<br />
@{
    if (HttpContext.Session.GetString("paymetn") != null)
    {
        <a asp-page="/elderly/payment/billing" class="btn btn-warning" style="color:white;">You have payment due</a>

    }
}

<div class="card-deck">
    @{ if (Model.appointmentsByEmail != null)
        {
            @foreach (var item in Model.appointmentsByEmail)
            {
                var photoPath = "~/images/" + (item.PhotoPath ?? "doctorFace.jpg");

                <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                    <div class="card-header">
                        <h3>
                            @item.AvailableDate.ToShortDateString()
                        </h3>
                    </div>
                    <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                    <div class="card-footer text-center">
                        <a class="btn btn-primary m-1" asp-page="/elderly/appointment/Details" asp-route-id="@item.Id">View Details</a>
                        <a class="btn btn-primary m-1" asp-page="/elderly/appointment/Edit" asp-route-id="@item.Id">Reschedule</a>
                        <a class="btn btn-danger m-1" onclick="return confirm('Are you sure you want to cancel your appointment? No refund will be made if you paid by PayPal.');" asp-page="/elderly/appointment/Delete" asp-route-id="@item.Id">Cancel</a>

                    </div>
                </div>




            }
        }
        else
        {
            <h1>You have no upcoming appointments</h1>
        }

    }





</div>



